**/.*.swp
**/*.a
**/*.so
**/*.dylib

conan.lock
conan_paths.cmake
conanbuildinfo.txt
conaninfo.txt
graph_info.json

CMakeCache.txt
CMakeFiles
Testing
*.cmake
Makefile
cmake-build-*

.idea
compile_commands.json
DartConfiguration.tcl
**/*.cbp

tags
